//Variable Tipografia//

$color-text-primary: rgb(255, 255, 255);
$color-text-secondary: rgb(180, 168, 168);

//Variable background//

$background-primary: rgba(0, 0, 0, 0.900);

//Variable border color//
$border-color-primary: rgb(128, 128, 128);
$border-color-secondary: rgb(255,255,255);

//Variable tipografia//

$font-primary: Montserrat;
$font-secondary: Roboto;

