header {
    width: 100%;
    padding: 20px;
    height: 180px;
    margin-bottom: 5%;
}

@media (min-width:768px){
    .navegador{
        height: 180px;
    }
}

.img_container {
    display: flex;
    justify-content: center;
}

.img_nav {
    height: 100px;
    width: 100px; 
    margin: 4% 0;
}
@media (min-width:768px){
    .img_nav{
        margin: 2% 4%;
    }
}

.barra_nav {
    display: flex;
    justify-content: center;
    gap: 4%;
}
@media (min-width:768px){
    .barra_nav{
        margin-top: 2%;
    }
}

.barra_nav li a {
    text-decoration: none;
    color: $color-text-secondary;
    transition: all .3s ease;
}

.barra_nav li a:hover{
    color: white;
    padding-bottom: 2%;
}