//inicio contacto//
.form{
    color: $color-text-primary;
    background: linear-gradient(
        50deg,
        rgba(0, 0, 0, 0.900) 20%,
        rgba(54, 46, 46, 0.6)),
    url(../assets/images/contac.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 10%;
    padding: 5%;
    margin: 10%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-wrap: balance;
}

@media (min-width:768px){
    .form{
        margin-top: 4%;
    }
}

.form_main h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 20%;
    color: $color-text-primary;
    display: flex;
    justify-content: center;
}

@media (min-width:768px){
    .form_main h1{
        font-size: 46px;
        margin: 12% 0 2% 0;
    }
}

.form_fieldset{
    font-size: 14px;
    padding: 5%;
    width: 90%;
    border-radius: 20px;
}
.input-group{
    margin-top: 4%;
}